@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_fonts.scss';
@import './../theme/dark.scss';
@import './../theme/light.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // font-family: aria_regular !important;
  // overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
}

.custom_container {
  @apply w-[95%] max-w-[1150px] mx-auto;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet {
  background-color: lightgray !important;
  width: 12px !important;
  height: 12px !important;
}
.text-align-last-center {
  text-align-last: center;
}
.text-align-last-start {
  text-align-last: right;
}

#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
