@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_fonts.scss';
@import './../theme/dark.scss';
@import './../theme/light.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // font-family: aria_regular !important;
  // overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
}

.custom_container {
  @apply w-[95%] max-w-[1150px] mx-auto;
}

 .swiper-pagination-bullet-active{
background-color: white !important;
width: 12px !important;
height: 12px !important;
}

.swiper-pagination-bullet{
  background-color: lightgray !important;
width: 12px !important;
height: 12px !important;
}