@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_fonts.scss';
@import './../theme/dark.scss';
@import './../theme/light.scss';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // font-family: aria_regular !important;
  // overflow-x: hidden;
}
//
html {
  margin: 0;
  padding: 0;
}

.custom_container {
  @apply w-[95%] max-w-[1150px] mx-auto;
}

@media (max-width: 768px) {
  .custom_container {
    @apply w-[80%] max-w-[1150px] mx-auto;
  }
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 12px !important;
  height: 12px !important;
}

.link {
  position: relative;
}

.link::before {
  content: ' ';
  width: 0;
  position: absolute;
  height: 2px;
  bottom: 0px;
  transition: all 0.3s;
  @apply bg-primary;
}

.link:hover::before {
  width: 100%;
}

.swiper-pagination-bullet {
  background-color: lightgray !important;
  width: 12px !important;
  height: 12px !important;
}
.text-align-last-center {
  text-align-last: center;
}
.text-align-last-start {
  text-align-last: right;
}
.btn {
  @apply bg-primary font-aria_sbold text-light  py-2 px-5 text-base rounded-3xl;
  &.ghost {
    @apply bg-transparent text-black;
    svg {
      @apply fill-black;
    }
  }
  &.disabled {
    @apply text-gray-400 cursor-not-allowed;
    svg {
      @apply fill-gray-400;
    }
  }
  svg {
    @apply fill-white;
  }
}
.divider {
  @apply h-[1px] w-full bg-zinc-300 my-10;
}
.noxTable {
  thead th {
    @apply bg-primary #{!important};
    @apply text-white #{!important};
  }
  td {
    background-color: white !important;
  }
}
.noxPagination {
  .ant-pagination-item-active {
    @apply bg-black #{!important};
    @apply rounded-full #{!important};
    @apply border-none #{!important};
  }
  .ant-pagination-item-active a {
    height: 100% !important;
    margin: auto !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    @apply text-white #{!important};
  }
}
