.link {
  position: relative;
}

.link::before {
  content: ' ';
  width: 0;
  position: absolute;
  height: 2px;
  bottom: 0px;
  transition: all 0.3s;
  @apply bg-primary;
}

.link:hover::before {
  width: 100%;
}

.openMenu {
  .overlay {
    display: block !important;
  }
  .menuButtun {
    position: fixed !important;
  }
  .mobileMenuRef {
    transform: translateX(0);
  }

}
